@import "tailwindcss";
html,
body {
    @apply w-full h-full;
    @apply bg-gray-900;
}

#app {
    @apply h-full;
}

@theme {
    --color-gray-900: #111827;
    --color-gray-300: #272627;
    --color-gray-200: #f2f3f3;
}
